body {
  background-color: skyblue;
}
h2,
form {
  text-align: center;
}
.single-todo {
  border: solid black 1px;
  padding: 10px;
  width: 25%;
  height: 22px;
  margin: auto;
  margin: 10px auto;
  background-color: lightgray;
}

.todo {
  width: 70%;
  display: inline-block;
}
.chk-box {
  width: 10%;
  display: inline-block;
}
.btn-delete {
  width: 20%;
  display: inline-block;
}
